body {
  background-color: lightblue;
  background-image: url("wall.jfif");

}

h1 {
  color: whitesmoke;
  border: 3px solid black;
  padding: 30px;
  margin: 50px;
  text-align: center;
  border-radius: 22px;
  font-family: "Times New Roman", Times, serif;

}

h2 {
  color: whitesmoke;
  border: 3px solid black;
  padding: 30px;
  margin: 50px;
  text-align: left;
  border-radius: 22px;
  font-family: "Times New Roman", Times, serif;

}

h3 {
  color: whitesmoke;
  border: 3px solid black;
  padding: 30px;
  margin: 50px;
  text-align: left;
  border-radius: 22px;
  font-family: "Times New Roman", Times, serif;

}

p {
  color: whitesmoke;
  border: 3px  black;
  border-radius: 22px;
  padding: 30px;
  margin: 50px;

}

a {
  float: center;
  padding: 10px 12px;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: blue;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
