body {
  background-color: lightblue;
}

h1 {
  color: blue;
  border: 3px dotted black;
  padding: 30px;
  margin: 50px;
  border-radius: 22px;
  text-shadow: 2px 2px yellowgreen;
  font-family: "Times New Roman", Times, serif;

}

h2 {
  color: blue;
  border: 3px dotted black;
  padding: 30px;
  margin: 50px;
  border-radius: 22px;
  text-shadow: 2px 2px yellowgreen;
  font-family: "Times New Roman", Times, serif;

}

p {
  color: black;
  border: 3px dotted black;
  border-radius: 22px;
  padding: 30px;
  margin: 50px;
}

li {
  display: inline;
}

li:last-child a {
  border: none;
}

a {
  float: left;
  padding: 10px 12px;
  color: blue;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

a:hover {
  background: rgba(255, 255, 255, 0.1);
}


img {
  display: block;
  margin-right: auto;
}